body{
    background-image: url(img/alBackGround.jpg);
    // background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito Sans';
    color: rgb(183, 188, 191);
    text-align: center;
}
header{
    background: rgb(23,22,24);
    background: linear-gradient(27deg, rgba(23,22,24,1) 0%, rgba(138,143,143,1) 98%); 
}
.menu-link{
    display: block;
  }
.container-fluid{
    background-color: rgba(0, 0, 0, 0.632);
}
img{
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(234, 230, 230, 0.72);
}
.show{
    max-width: 200px;
}
a>span{
    color: rgb(183, 188, 191);
}
a>span:hover{
    color: rgb(215, 221, 226);
}
p{
    text-align: justify;
}

/* --------- EDITOR STYLES  ---------------------------------------------------------------------------------------- */

.editor-wrapper {
    height: 500px;
}

.ck.ck-reset.ck-editor[role='application'],
.ck.ck-editor__main {
    height: 100%;

    .ck-content.ck-editor__editable {
        color: black;
        height: 80%;
        overflow-y: auto;
    }

}
