body{
    background-image: url(img/alBackGround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Nunito Sans';
    color: rgb(183, 188, 191);
    text-align: center;

header{
    background: rgb(23,22,24);
    background: linear-gradient(27deg, rgba(23,22,24,1) 0%, rgba(138,143,143,1) 98%);
    a>span, .navbar-dark .navbar-nav .nav-link ,
     .navbar-dark .navbar-nav .nav-link.active,
      .navbar-dark .navbar-nav .show > .nav-link{
        color: rgb(183, 188, 191);
    }
    a>span:hover, .navbar-dark .navbar-nav .nav-link:hover{
        color: rgb(13, 15, 18);
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu{
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.721);
        max-width: fit-content;
        
        .menu-link{
            color: rgb(183, 188, 191);
            border-bottom: 2px solid  rgba(183, 188, 191, 0.695);
            display: block;
        &:hover{
            background-color:  rgba(233, 238, 241, 0.212);
            }
        } 
    }
}

    .container{
        // background-color: rgba(53, 53, 55, 0.564);
        box-shadow: 0px 20px 30px 50px rgb(245, 242, 242);
        
        p{
            text-align: justify; 
        }
        .main{
            background-color: rgba(0, 0, 0, 0.469);
            padding: 0 10px 10px 10px;
            border-bottom: 1px solid black;
        }
        
        img{
            border-radius: 10px;
            box-shadow: 5px 5px 30px rgba(234, 230, 230, 0.72);
        }
        .show{
            text-align: justify;
            align-items: center;     
            p{
                text-align: justify;
                display: inline;
            }
        }
        .card{
            background: rgb(23,22,24);
            background: linear-gradient(27deg, rgba(23,22,24,1) 0%, rgb(91, 93, 93) 98%); 
            color: rgb(183, 188, 191);
        }
    }
}
/* --------- EDITOR STYLES  ---------------------------------------------------------------------------------------- */

.editor-wrapper {
    height: 500px;
}

.ck.ck-reset.ck-editor[role='application'],
.ck.ck-editor__main {
    height: 100%;

    .ck-content.ck-editor__editable {
        color: black;
        height: 80%;
        overflow-y: auto;
    }

}
